@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: rgb(123, 66, 255);
    background: linear-gradient(
      0deg,
      rgba(123, 66, 255, 1) 5%,
      rgba(63, 0, 209, 1) 24%,
      rgba(63, 0, 209, 1) 78%,
      rgba(123, 66, 255, 1) 100%
    );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
